// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Montserrat:wght@100;400&display=swap');


html {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}

//home

.home {
	background-color: $midnight;
}

.rocket-land {
	position:relative;
  	width:50%;
  	padding-bottom:50%;
	border: 12px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
}

.rocket-circle {
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  margin:0;
}